# Global Git Ignore File
# Menyapu file sampah dari root atau subfolder manapun

# Sistem & IDE
.DS_Store
.vscode/
.idea/

# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/

# Node & Frontend
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Archive (Untuk mencegah meng-commit file zip hasil download)
*.zip
*.tar.gz
*.rar
